<h3>AddAuthor</h3>

@*
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Last name</th>
            <th>Last name</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td><input placeholder="Id" disabled/></td>
            <td><input @bind="h.Author.FirstName" placeholder="First name" /></td>
            <td><input @bind="h.Author.LastName" placeholder="Last name" /></td>
            <td><button class="btn btn-primary oi oi-person" @onclick="()=>h.AddAuthor(h.Author.FirstName, h.Author.LastName)"></button></td>
        </tr>
        @foreach (var author in h.GetAuthors())
        {
            <tr>
                <td>@author.Id</td>
                <td>@author.FirstName</td>
                <td>@author.LastName</td>
                <td><button class="btn btn-danger oi oi-trash" @onclick="()=>h.RemoveAuthor(author.Id)"></button></td>
             </tr>
        }
    </tbody>
</table>
*@
<div>
<tabel class="table">
    
</tabel>

</div>

@code {
    [Parameter]
    public string FirstName { get; set;}
    [Parameter]
    public string LastName{ get; set; }


}
